<div class="sub-wca-container">
  <div class="header">
    <h2 class="title">World Cube Association</h2>
  </div>
  <div class="content">
    <div>
      WCA is a non-profit organization that governs twisty-puzzle (like a Rubik's Cube) competitions. It's mission is to have more competitions in more countries with more people and more fun, under fair and equal conditions.
    </div>
    <div>
      In 2010, I began my speedcubing career by attending my first competition in Lexington, Kentucky. Though I was not the fastest, I did meet a lot of my cubing idols and had a great experience. 
      I soon met more cubers in my local area and built life-long friendships that are irreplacable.
    </div>
    <div>
      WCA is a completely volunteer-based organization. Everyone from a competitor to the board members all volunteer into their roles.
      In 2015, I organized my first competition to help give back to the community. I soon became more engrossed into the WCA and became a valued member of the WCA.
    </div>
    <div>
      <img class="wca-worlds-image" src="assets/worlds_solving.png">
      <div class="image-text">Competing at the WCA World Championship 2019!</div>
    </div>
  </div>
</div>
