<div class="results-container">
  <div class="header">
    <h2 class="title">
      <i class="fa-solid fa-school"></i>
      WCA Quality Assurance Committee (WQAC)
    </h2>
    <div class="title-details right-align">
      <div class="date">
        2017 - 2018
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-text">
      I joined the WQAC as a founding member. I worked to help build the team by finding and reviewing new members.
      I drafted a couple of documents on organizer guidelines, which have been enhanced and currently used by prospective organizers of WCA Competitions.
      WQAC was handed the task of announcing competitions, and I spent the majority of my time in late 2018 handling competition announcements. 
      Once the WCAT was created, I transitioned positions onto the new team.
    </div>
  </div>

  <div class="header">
    <h2 class="title">
      <i class="fa-solid fa-globe"></i>
      WCA Competition Announcement Team (WCAT)
    </h2>
    <div class="title-details right-align">
      <div class="date">
        2018 - 2020
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-text">
      After spending a great deal of time on competition announcements on WQAC, I smoothly transitioned into a founding member of the WCAT.
      I was a main contributor in selecting and training the new members of WCAT. I helped guide the team into directions and processes to help with smoothly and quickly announcing competitions.
      I ended up being the creator of the WCA Competition Requirements Policy, which is the most used policy for many WCA Delegates and WCAT.
      I’ve announced 185 competitions between my time on the 2 teams.
    </div>
  </div>

  <div class="header">
    <h2 class="title">
      <i class="fa-solid fa-shield-halved"></i>
      WCA Data Protection Committee (WDPC)
    </h2>
    <div class="title-details right-align">
      <div class="date">
        2018 - 2020
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-text">
      After the release of GDPR, WCA put together a working group with different team representatives to handle WCA's Data Protection roles. This working Group transitioned into WDPC.
      I handled the incoming requests dealing with registered speedcubers expressing their right to be forgotten and have drafted a new process for handling anonymous persons.
      The team was later absorbed into the Results Team and I became the Data Protection Officer for WCA.
    </div>
  </div>

  <div class="header">
    <h2 class="title">
      <i class="fa-sharp fa-solid fa-code-fork"></i>
      WCA Software Team (WST)
    </h2>
    <div class="title-details right-align">
      <div class="date">
        2021 - 2022
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-text">
      Throughout the years I've contributed bits and pieces to WCA's software. Many of these advancements were to enhance in the Results Team and WCAT's workflows. 
      Some examples are the Results Anonymization process, improvements to the competition submission forum, and some result validations ran upon uploading.
      WCA's codebase is all Ruby on Rails, however we have started to tranisition to have a decoupled FE and BE with a React Frontend.
    </div>
  </div>

  <div class="header">
    <h2 class="title">
      <i class="fa-solid fa-flag-usa"></i>
      CubingUSA Deputy
    </h2>
    <div class="title-details right-align">
      <div class="date">
        2022 - Present
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-text">
      CubingUSA is a non-profit Regional Organization for the United States. Their purpose is to help organizers organize competitions primarily by providing finacial support.
      I became a deputy earlier this year to help with the increased workload of CubingUSA post-pandemic. I've helped by being a deputy for {{stats.deputy}} Competitions.
    </div>
  </div>
</div>