<div class="pulte-container">
  <div class="header">
    <h2 class="title">Pulte - Home Designer (PHD)</h2>
    <div class="title-details right-align">
      <div class="date">
        March 2021 - July 2022
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-text">
      For this project, I created a website to aid home buyers in finding and selecting attributes for a home that they are interested in. 
      The application allows users to favorite items that would potentially be contracted for their home at a later time.
      I worked as a Developer Team Leader on this project. I spearheaded many software solutions and onboarded new team members.
    </div>

    <div class="section">
      <div class="section-content">
        <h2 class="title">
          <i class="fa-solid fa-computer"></i>
          Frontend
        </h2>
        <div>
          The website uses an Angular frontend. We heavily utilized a local storage system, NgRx to store all neccessary information for reloading the application without needing to make repeated API calls.
          This project uses Aphavision to display different home layouts and have an interactive user experience.
        </div>
        <h2 class="title">
          <i class="fa-solid fa-masks-theater"></i>
          Branding / Theming
        </h2>
        <div>
          Branding is where a website changes it's theme based on which company the website is being used for. This is similar to having a light-mode vs dark-mode on a website, but we may also change images and sometimes layouts.
          I developed a system for this project to determine the correct brand and display the website with the correct theme. This was done using styling variables and allowed for development of only 1 codebase for 6 different brands / applications.
        </div>
        <h2 class="title">
          <i class="fa-solid fa-shield-halved"></i>
          Backend / Security
        </h2>
        <div>
          This project used a C# backend. I worked heavily on the security of the API determining various roles and permissions for different user types. I ensured that only authenticated users had access to certain API endpoints. Those endpoints also retrieved only information that the user is allowed to have access to.
        </div>
      </div>
      <div class="section-stats">
        <div class="stat">
          <i class="fa-solid fa-cube"></i>
          Framework: 
          <div class="badge-container">
            <div class="badge">Angular</div>
            <div class="badge">ASP.NET</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-globe"></i>
          Languages: 
          <div class="badge-container">
            <div class="badge">Typescript</div>
            <div class="badge">Javascript</div>
            <div class="badge">HTML</div>
            <div class="badge">SCSS</div>
            <div class="badge">C#</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-database"></i>
          FE Storage: 
          <div class="badge-container">
            <div class="badge">NgRx</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-database"></i>
          Databases: 
          <div class="badge-container">
            <div class="badge">SQL Azure</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-keyboard"></i>
          Programs: 
          <div class="badge-container">
            <div class="badge">Alphavision</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-chart-line"></i>
          Reporting: 
          <div class="badge-container">
            <div class="badge">Adobe<br>Analytics</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-gear"></i>
          Dev Ops: 
          <div class="badge-container">
            <div class="badge">Azure<br>DevOps</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-file"></i>
          Documentation: 
          <div class="badge-container">
            <div class="badge">Azure<br>DevOps</div>
          </div>
        </div>
      </div>
    </div>

    <div class="picture-section">
      <div class="picture-content">
        <img class="pulte-website-picture" src="{{getPhoto('pulte_home')}}">
        <div class="image-text">Pulte Brand - Home Page</div>
      </div>
      <div class="picture-content">
        <img class="pulte-website-picture" src="{{getPhoto('pulte_del_webb_choices')}}">
        <div class="image-text">Del Webb Brand - Choice Selection</div>
      </div>
      <div class="picture-content">
        <img class="pulte-website-picture" src="{{getPhoto('pulte_centex_choice_detail')}}">
        <div class="image-text">Centex Brand - Choice Detail</div>
      </div>
      <div class="picture-content">
        <img class="pulte-website-picture" src="{{getPhoto('pulte_am_west_summary')}}">
        <div class="image-text">American West Homes Brand - Summary</div>
      </div>
    </div>
  </div>
</div>
