<div class="results-container">
  <div class="header">
    <img src="assets/sec_logo.png" class="se-logo">
    <a href="http://southeastcubing.org" target="_blank">
      <h2 class="title">SoutheastCubing.org</h2>
    </a>
  </div>
  <div class="content">
    <div class="content-text">
      <a href="http://southeastcubing.org" target="_blank" class="clickable">SoutheastCubing.org</a> is a website made to collect all information about Cubing Competitions for Southeast Cubers in one place. 
      The website provides descriptions of our Delegates, a list of upcoming competitions, and information on local clubs.
      <a class="clickable" href="https://github.com/Jambrose777/SoutheastCubing.org" target="_blank">Here is a link to the codebase.</a>
    </div>
    <div class="content-container">
      <div class="content-section left-stats">
        <i class="fa-solid fa-computer fa-3x"></i>
        <b class="black-text">Specs</b>
        <div>
          This website was made very similarly to JacobAmbrose.me. It has an Angular frontend, uses AWS (EC2, S3, and Route 53). Apache to run the web server.
        </div>
      </div>
      <div class="content-section right-stats">
        <i class="fa-solid fa-database fa-3x"></i>
        <b class="black-text">CMS</b>
        <div>
          All content on the website is hosted using a Content Management System (CMS), Contenful.
          Many of the Delegates who are stakeholders for the website have little to no coding experience, so they are able to use the CMS to modify any content.
        </div>
      </div>
    </div>
  </div>
</div>
