<div class="projects-other-container">
  <div class="header">
    <a href="https://github.com/Jambrose777/JacobAmbroseWCAStatistics" target="_blank">
      <h2 class="title">
        <i class="fa-solid fa-link"></i>
        WCA Statistics project
      </h2>
    </a>
  </div>
  <div class="content">
    <div class="content-text">
      This project is a set of different statistics done on WCA results. I primarily developed these during college as different fun excersizes with SQL.
      These projects use a range of different strategies to tackle the problems; most of the stats are ran using pure SQL, while others utilize some C++ or Javascript Code.
    </div>
  </div>
  <div class="header">
    <a href="https://github.com/Jambrose777/MarioKartTourGoogleAppScripts" target="_blank">
      <h2 class="title">
        <i class="fa-solid fa-link"></i>
        MKT Sheets Script
      </h2>
    </a>
  </div>
  <div class="content">
    <div class="content-text">
      I use Google Sheets a lot to help with different side hobbies. The most promient of these sheets is my MKT Spreadsheet that I use to help me achiveve the best possible score in Mario Kart Tour each tour.
      I use Google App Scripts to help with auto sorting, custom calculations, and collecting history in the game.
    </div>
  </div>
</div>
