<div class="hobbies-container">
  <div class="cubing-section">
    <div class="title-section">
      <img src="assets/rubiks_cube.png" class="cube-picture">
      <h2 class="title clickable" [routerLink]="'/wca/competitor'">Cubing</h2>
    </div>
    <div class="cubing-body">
      <div class="cubing-content">
        I solve twisty puzzles (like Rubik's Cubes) competitively. <span class="clickable" [routerLink]="'https://youtu.be/MZ-IianPrcE'">My fastest official time is 7.87 seconds.</span> I've attended over 170 competitions and have more than 9,200 offical solves.
        I specialize in other events like Blindfolded solving, finding solutions in the fewest moves, and Speed Solving the Rubik's Clock.
        I was ranked 6th in the World in the Clock Event.
        In 2017 I attended 45 competitions in a year and acheieved 2,675 offical solves in 1 year, both of which were world records.
        <span class="clickable" [routerLink]="'/wca/competitor'">You can read more about my competive solving here.</span>
      </div>
      <img class="cubing-picture" src="assets/787.png">
    </div>
  </div>
  <div class="mental-games-section">
    <div class="title-section">
      <i class="fa-solid fa-chess-board fa-xl"></i>
      <h2 class="title">Strategy Games, Pencil Puzzles, and Solving Problems</h2>
    </div>
    <div>
      One of my largest passions in life is solving problems. One of my mottos has always been, give me a problem and a reason to solve it, and I won't stop until it's resolved.
      This mentality has greatly elevated my passion for coding; most of the time coding is just finding good, efficent solutions to complex problems.
      I love to play board games such as Dominion, where you developing new strategies with every game. I'm aslo an avid Chess player; I've played chess on a live stream with around 20,000 people watching.
      I solve pencil puzzle (like sudoku variants or crosswords) just about every night to help relax my brain to get me to sleep.
    </div>
  </div>
  <div class="mkt-section">
    <div class="title-section">
      <img src="assets/MKT_badge.png" class="mkt-picture">
      <h2 class="title">Mario Kart</h2>
    </div>
    <div class="mkt-body">
      <div class="mkt-content">
        In 2018, I joined a mario kart tournament at work with no experience with playing the game. I made steady progress in a knock-out bracket and found myself winning against people that competively play the game; I went on to win that tournament and became Slalom's first and only Mario Kart Champion.
        Following the tournament, Mario Kart Tour released on mobile devices in 2019 and I quickly took up the game.
        <a class="clickable" href="https://www.mariokarttour.com/en-US/ranking/allcup/backnumbers/detail?seasonKey=79" target="_blank">I ranked 3rd in the world during the Doctor Tour during May 2022.</a>
      </div>
      <img class="mkt-picture" src="assets/MKT_trophy.png">
    </div>
  </div>
</div>
