<div class="saia-container">
  <div class="header">
    <h2 class="title">Cox Automotive Enterprises</h2>
    <div class="title-details right-align">
      <div class="date">
        March 2020 - February 2021
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-text">
      At Cox Auto I created a new website which revolutionized the car buying experience. I am under a Non-Disclosure Agreement for this project. Here are the technologies used on the project.
    </div>
    <div class="content-text">
      <div class="stat-section">
        <div class="stat">
          <i class="fa-solid fa-cube"></i>
          Frameworks: 
          <div class="badge-container">
            <div class="badge">React</div>
            <div class="badge">Node JS</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-database"></i>
          Database: 
          <div class="badge-container">
            <div class="badge">DynamoDB</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-globe"></i>
          Languages: 
          <div class="badge-container">
            <div class="badge">Typescript</div>
            <div class="badge">Javascript</div>
            <div class="badge">HTML</div>
            <div class="badge">SCSS</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-gear"></i>
          Dev Ops: 
          <div class="badge-container">
            <div class="badge">AWS</div>
            <div class="badge">New Relic</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-chart-line"></i>
          Reporting: 
          <div class="badge-container">
            <div class="badge">Google Analytics</div>
          </div>
        </div>
        <div class="stat">
          <i class="fa-solid fa-list-check"></i>
          Management: 
          <div class="badge-container">
            <div class="badge">GitHub Enterprises</div>
            <div class="badge">Mira</div>
            <div class="badge">Rally</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
