<div class="results-container">
  <a href="https://www.worldcubeassociation.org/persons/2010AMBR01" target="_blank">
    <div class="header clickable">
      <h2 class="title">
        <i class="fa-solid fa-link"></i>
        My WCA Results Profile
      </h2>
      <div class="title-details right-align">
        <div class="date">
          2010 - Present
        </div>
      </div>
    </div>
  </a>
  <div class="content">
    <div class="content-text">
      I've competed in {{stats.competed}} competitions. My first competition was in 2010 in Lexington, Kentucky. 
      I've attended every US National Championship since 2015, and placed 4th in the Clock event several times.
      I've attended the 2018 European Championship in Madrid, Spain; the 2019 World Championship in Melbourne, Australia; and the 2022 North American Championship in Ontario Canada.
      I am the Georgia State Champion in 3x3 Fewest Moves and 4x4x4 Blindfolded. I've been the Southeast Champion in 3x3 Fewest Moves for several years.
    </div>
    <div class="content-text">
      Here are some of my best highlights in my speedcubing career.
    </div>
    <div class="content-text">
      <iframe class="video" src="https://www.youtube.com/embed/MZ-IianPrcE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="video-text">This is my fastest official 3x3 solve at 7.87 seconds.</div>
    </div>
    <div class="content-text">
      <iframe class="video" src="https://www.youtube.com/embed/J97GWIL3aVw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="video-text">In 2018, I acheived a 4.87 Solve in Clock. This was ranked Top-10 in the world. I have since improved to 4.09 seconds.</div>
    </div>
    <div class="content-text">
      <iframe class="video" src="https://www.youtube.com/embed/9mg_KggDazc" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="video-text">Later, I acheived an average of 5.77 seconds in Clock ranking me 6th in the world!</div>
    </div>
    <div class="content-text">
      <iframe class="video" src="https://www.youtube.com/embed/5dmaUnwyIog" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="video-text">This is my fastest 3x3x3 Blindfolded solve at 51.26 seconds.</div>
    </div>
    <div class="content-text">
      <iframe class="video" src="https://www.youtube.com/embed/EmJpAFDip_Y" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="video-text">This is one of my greatest cubing accomplishments: Solving a 5x5x5 Blindfolded! Very few people in the world have done this.</div>
    </div>
  </div>
</div>
