@import "src/styles/color-pallet.scss";

.project-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
  height: calc(100vh - 80px);
  width: calc(100vw - 80px);

  .main-nav-section {
    height: 580px;
    width: 100px;
    margin-right: 10px;
    background-color: $grey;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow-y: hidden;
    z-index: 2; // this is to ensure box-shadow on profile section is shown over the content section
  }
  
  .profile-section {
    height: 0;
    width: calc((100% - 110px) * .5);
    background-color: $grey;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow-y: hidden;
    z-index: 2; // this is to ensure box-shadow on profile section is shown over the content section
  }

  .content-section {
    height: calc(100vh - 120px);
    width: calc((100% - 110px) * .5);
    margin: 20px 0;
    z-index: 1; // this is to ensure box-shadow on profile section is shown over the content section
    position: relative;
  }
}


@media only screen and (max-width: 950px) {
  .project-container {
    flex-direction: column !important;
    margin: 0 0 10px 0 !important;
    height: calc(100vh - 5px) !important;
    width: 100vw !important;

    .main-nav-section {
      height: 100px;
      width: 100vw !important; 
      margin-right: 0 !important;
    }

    .profile-section {
      display: none !important;
    }

    .content-section {
      height: calc(100vh - 115px);
      width: calc(100vw - 20px) !important;
      margin: 0 10px 5px 10px !important;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      background-color: $grey;
      box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);
    }
  }
}
