@import "src/styles/color-pallet.scss";

.project-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
  height: calc(100vh - 80px);
  width: calc(100vw - 80px);

  .main-nav-section {
    height: 60%;
    width: 100px;
    margin-right: 10px;
    background-color: $grey;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  
  .profile-section {
    height: 100%;
    width: calc((100% - 110px) * .5);
    background-color: $grey;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

  .content-section {
    height: calc(100vh - 120px);
    width: calc((100% - 110px) * .5);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $grey;
    z-index: -1; // this is to ensure box-shadow on profile section is shown over the content section
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
  }
}
