@import "src/styles/color-pallet.scss";

.main-nav-container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .clickable {
    cursor: pointer;
    color: $black;

    &:hover {
      color: $dark-blue;
    }
  }

  .active {
    color: $dark-blue;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .mobile-only-nav-item {
    display: none;
  }

  .main-nav-item {
    margin: 10px 0;

    .fa-2xl {
      margin-top: 20px;
      margin-bottom: -20px;
      height: 40px;
    }

    .custom-picture {
      height: 40px;
      width: 40px;
      margin-bottom: 5px;
      border-radius: 10px;
      object-fit: contain;
    }
  }

  .slalom-picture {
    div {
      background: url("../../../assets/slalom-black.png") no-repeat;
      background-size: contain;
    }

    &:hover {
      div {
        background: url("../../../assets/slalom.png") no-repeat;
        background-size: contain;
      }
    }
  }

  .wca-picture {
    div {
      background: url("../../../assets/wca_logo_black.svg") no-repeat;
      background-size: contain;
    }

    &:hover {
      div {
        background: url("../../../assets/wca_logo_blue.svg") no-repeat;
        background-size: contain;
      }
    }
  }

  .slalom-active {
    color: $dark-blue;

    div {
      background: url("../../../assets/slalom.png") no-repeat;
      background-size: contain;
    }
  }

  .wca-active {
    color: $dark-blue;

    div {
      background: url("../../../assets/wca_logo_blue.svg") no-repeat;
      background-size: contain;
    }
  }
}

@media only screen and (max-width: 950px) {
  .main-nav-container {
    flex-direction: row !important;
    justify-content: space-around !important;

    .main-nav-item {
      display: none;
    }

    .mobile-nav-item {
      display: flex !important;
      width: 85px;
    }
  }

  .fa-nav-item {
    margin-right: 5px;
  }

  .slalom-picture-nav-item {
    display: flex;
    flex-direction: row;

    div {
      background: url("../../../assets/slalom-black.png") no-repeat;
      background-size: contain;
    }

    &:hover {
      div {
        background: url("../../../assets/slalom.png") no-repeat;
        background-size: contain;
      }
    }
  }

  .wca-picture-nav-item {
    display: flex;
    flex-direction: row;

    div {
      background: url("../../../assets/wca_logo_black.svg") no-repeat;
      background-size: contain;
    }

    &:hover {
      div {
        background: url("../../../assets/wca_logo_blue.svg") no-repeat;
        background-size: contain;
      }
    }
  }

  .slalom-nav-item-active {
    color: $dark-blue;

    div {
      background: url("../../../assets/slalom.png") no-repeat;
      background-size: contain;
    }
  }

  .wca-nav-item-active {
    color: $dark-blue;

    div {
      background: url("../../../assets/wca_logo_blue.svg") no-repeat;
      background-size: contain;
    }
  }

  .custom-picture-nav-item {
    height: 20px;
    width: 20px;
    margin: 13px 10px 5px 0;
    border-radius: 5px;
    object-fit: contain;
  }
}
