<div class="life-container">
  <div class="fiance-section">
    <div class="fiance-picture-container">
      <img class="fiance-picture" src="{{getPhoto('about_sam_and_i')}}">
    </div>
    <div class="fiance-content">
      <b>Sam</b> is my beautiful fiancé. We spend a lot of time travelling the world together, watching house hunters, and taking care of our cats.
    </div>
  </div>
  <div class="cat-section">
    <div class="cat-content">
      <b>Sylvester</b> (left) and <b>Moon</b> (right) are our two trouble-makers.
    </div>
    <div class="cat-picture-container">
      <img class="cat-picture sylvester" src="{{getPhoto('about_sylvester')}}">
      <img class="cat-picture" src="{{getPhoto('about_moon')}}">
    </div>
  </div>
</div>
