<div class="profile-container">
  <div class="picture-container">
    <img src="assets/J2.png" class="profile-picture">
  </div>
  <h1>Jacob Ambrose</h1>
  <div class="profile-role">Software Engineer</div>
  <div class="profile-links">
    <a href="https://github.com/Jambrose777" target="_blank">
      <i class="fa-brands fa-github fa-2xl clickable"></i>
    </a>
    <a href="mailto:JacobAmbroseSoftware@gmail.com" target="_blank">
      <i class="fa-regular fa-envelope fa-2xl clickable"></i>
    </a>
    <a href="https://www.linkedin.com/in/ambrosejacob/" target="_blank">
      <i class="fa-brands fa-linkedin fa-2xl clickable"></i>
    </a>
  </div>
  <div class="profile-resume-link clickable">
    <a href="https://docs.google.com/document/d/1YmTaebvlb7ch3nTl8HHY6mOcCNc8WQNX9tAEKCM0EIk/export?format=pdf" target="_blank">
      <div>Resume</div>
    </a>
  </div>
</div>
