@import "src/styles/color-pallet.scss";

.projects-container {
  height: calc(100vh - 120px);
  width: calc((100vw - 190px) * .5);
  background-color: $grey;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  .header-container {
    padding: 20px;
    display: flex;
    flex-direction: row;

    .page-title {
      font-size: 20px;
    }

    .sub-nav {
      margin-left: auto;
    }
  }
}
