<div class="projects-container">
  <div class="header-container">
    <h2 class="page-title">{{title}}</h2>
    <sub-nav class="sub-nav" [navItems]="navItems" [baseRoute]="'projects'" [collapsed]="collapsedNav"></sub-nav>
  </div>
  <div *ngIf="!isMobile()" class="content-section" [@subContentAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']" >
    <router-outlet #o="outlet"></router-outlet>
  </div>
  <div *ngIf="isMobile()" class="content-section" >
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
