@import "src/styles/color-pallet.scss";

.wca-container {
  height: calc(100vh - 120px);
  width: calc((100vw - 190px) * .5);
  background-color: $grey;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 0.4);
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .header-container {
    padding: 20px;
    display: flex;
    flex-direction: row;

    a {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      color: black;
    }

    .wca-logo {
      height: 30px;
      margin-top: 13px;
      padding-right: 10px;
    }

    .page-title {
      font-size: 20px;
    }

    .sub-nav {
      margin-left: auto;
    }
  }

  .sub-router-container {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 950px) {
  .wca-container {
    height: 100% !important;
    width: 100% !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
}
