<div class="results-container">
  <div class="header">
    <h2 class="title">How was this webiste made?</h2>
  </div>
  <div class="content">
    <div class="content-text">
      The goal of this website was to give myself an outlet to display my personal accomplishments in my career. I wanted to go beyond my resume and highlight in further detail what all I've achieved.
      I wanted to use some new skills and technologies that I haven't been able to apply to other projects yet (AWS, animations), while at the same time grow stronger in UX Design.
      This website was build from the ground up without any templates and all of the source code is original.
      <a class="clickable" href="https://github.com/Jambrose777/JacobAmbrose.me" target="_blank">Here is a link to the Frontend codebase.</a>
      &nbsp;
      <a class="clickable" href="https://github.com/Jambrose777/JacobAmbrose.me-api" target="_blank">Here is a link to the Backend codebase.</a>
    </div>
    <div class="content-container">
      <div class="content-section left-stats">
        <i class="fa-solid fa-computer fa-3x"></i>
        <b class="black-text">Frontend</b>
        <div>
          This website was made using an Angular framework. 
          I utilized Angular animations for the first time (Desktop only); these were quite fun to learn about and brought the website to life more than I even imagined.
          I also used Angular's reactive Forms to build a simple form for contacting me.
          I put a lot of emphasis on styling for different screen sizes, including mobile devices, for a clean experience everywhere.
        </div>
      </div>
      <div class="content-section right-stats">
        <i class="fa-solid fa-pen-nib fa-3x"></i>
        <b class="black-text">UX</b>
        <div>
          I spent a lot of time designing this website. I wanted a modern look and feel while putting focus on the content and never feeling monotonous.
          I had very little UX designing experience prior to working on this project. This project gave me a lot of freedom to experiment with styles and looks that I would not be able to experience on professional projects.
          I took inspiration from a variety of portfolio sources to make something that I love the way it looks.
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="content-section full-content-section">
        <i class="fa-brands fa-aws fa-3x"></i>
        <b class="black-text">AWS</b>
        <div>
          I've learned a lot about Amazon Web Services in the past to obtain a certificate, however I have not had oportunties to put that knowledge to practical use.
          This project allowed me to get hands on experience with a real project utilizing AWS. I have an S3 bucket used for storing a built version of the website. 
          I use two EC2 instances (one for the FE, one for the BE). Finally, I set up the routing with my domain using Route 53. 
          Putting these resources together into a single project has been an absolute blast to work on and exciting to acheive.
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="content-section left-stats">
        <i class="fa-solid fa-server fa-3x"></i>
        <b class="black-text">Backend</b>
        <div>
          The backend was made with a simple Node Express server. It utilizes nodemailer to send emails appropriately.
          On the AWS instances, I use Apache for running the Frontent and Nginx for running the backend on the EC2 instances.
        </div>
      </div>
      <div class="content-section right-stats">
        <i class="fa-solid fa-database fa-3x"></i>
        <b class="black-text">CMS</b>
        <div>
          For this project, I use Contentful as a content management system. I opted to store only assets and specific texts in contentful.
          The assets being stored in the cloud make this project more managable in bundle size and storing. 
          I able to change some texts on the CMS without a need for a code deployment, which is very useful for information that I wish to update frequently.
        </div>
      </div>
    </div>
  </div>
</div>
