<div class="slalom-container">
  <div class="header-container">
    <a href="http://www.slalom.com" target="_blank">
      <img src="assets/slalom.png" class="slalom-logo">
      <h2 class="page-title">Slalom</h2>
    </a>
    <sub-nav class="sub-nav" [navItems]="navItems" [baseRoute]="'slalom'" [collapsed]="collapsedNav"></sub-nav>
  </div>
  <div *ngIf="!isMobile()" class="content-section" [@subContentAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']" >
    <router-outlet #o="outlet"></router-outlet>
  </div>
  <div *ngIf="isMobile()" class="content-section" >
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
