@import "src/styles/color-pallet.scss";

.sub-nav-container {
  display: flex;
  flex-direction: row;

  .nav-item {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .clickable {
    cursor: pointer;
    color: $black;

    &:hover {
      color: $dark-blue;
    }
  }

  .active {
    color: $dark-blue;
  }
}
