@import "src/styles/color-pallet.scss";

.sub-nav-container {
  display: flex;
  flex-direction: row;
  text-align: center;

  .nav-item {
    margin: 20px 7px;
  }

  .clickable {
    cursor: pointer;
    color: $black;

    &:hover {
      color: $dark-blue;
    }
  }

  .active {
    color: $dark-blue;
  }
}
