@import "src/styles/color-pallet.scss";

.delegate-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  .header {
    display: flex;
    flex-direction: row;
  }

  .title {
    margin-bottom: 20px;
    font-size: 20px;

    .title-details {
      margin-top: 15px;
    }
  }

  .right-align {
    margin-left: auto;
    padding-left: 10px;
    align-items: flex-end;
    text-align: end;
  }

  .content {
    .content-text {
      margin-bottom: 40px;

      .title-container {
        display: flex;
        flex-direction: row;
      }
    }

    .content-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
      
      .left-stats {
        padding-right: 5px;
      }

      .right-stats {
        padding-left: 5px;
      }

      .content-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .fa-solid {
          margin-bottom: 10px;
        }
      }
    }

    .delegates-image {
      width: 100%;
      max-height: 500px;
      border-radius: 20px;
      object-fit: contain;
      margin-top: 40px;
    }

    .image-text {
      text-align: center;
      font-style: italic;
      color: $black;
    }
  }

  .stats-number {
    font-size: 32px;
    color: $dark-blue;
    border: 5px solid;
    border-radius: 100%;
    padding: 10px 5px;
    margin-bottom: 5px;
  }

  .stats-number-2 {
    padding: 10px 15px;
  }

  .fa-solid {
    color: $dark-blue;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: $dark-blue;
    }
  }
  
  .clickable {
    cursor: pointer;

    &:hover {
      color: $dark-blue;
    }
  }
}
