<div class="delegate-container">
  <div class="header">
    <h2 class="title">Regional Delegate</h2>
    <div class="title-details right-align">
      <div class="date">
        Southeast, USA
      </div>
      <div class="date">
        2016 - Present
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-text">
      A WCA Delegate oversees a WCA competition to ensure that the competition is run in accordance to WCA's mission, spirit, and Regulations of the WCA. 
      Delegates are the officials that make rulings on incidents. Delegates work with organizers to ensure that competitions are held with high quality. 
      Delegates are also responsible for compiling and submitting Results and a competition Report. 
      We help organizers create a feasible schedule for the competition, create a budget, and give advise on what to do the day of the competition.
    </div>
    <div class="content-container">
      <div class="content-section left-stats">
        <i class="fa-solid fa-calendar fa-3x"></i>
        <b>Promotion Dates</b>
        <div>
          In 2016, I was approached to become a Candidate Delegate for Georiga, USA. A year later, I was promoted to the Delegate for Georiga, USA. 
          I was the only active Delegate in the area and Delegated Competitions in GA, NC, TN, FL, AL, KY, and SC. 
        </div>
        <div>
          In 2018 I was promoted to the first Regional Delegate for the Southeast, USA.
        </div>
      </div>
      <div class="content-section right-stats">
        <i class="fa-solid fa-earth-americas fa-3x"></i>
        <b>Regional Leadership</b>
        <div>
          The Southeast Region is regarded as the best in terms of Delegate quality. I've promoted and trained 10 new Delegates into WCA to fully cover the Southeast Region.
          Our Team provides significant support for one another, either by conversing about certain issues or by attending one-another's comeptitions.
          We have bi-monthly meetings and stay organized with each other with our superb communication.
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="content-section">
        <div class="stats-number">
          {{stats.competed}}
        </div>
        <b>Competed Competitions</b>
        <div>
          I've competed in {{stats.competed}} competitions. Including Worlds in Australia, Euros in Spain, and NAC in Canada.
        </div>
      </div>
      <div class="content-section">
        <div class="stats-number stats-number-2">
          {{stats.organized}}
        </div>
        <b>Competitions Organized</b>
        <div>
          I've organized {{stats.organized}} competitions around the southeast area. Including our Southeast Championship every year.
        </div>
      </div>
      <div class="content-section">
        <div class="stats-number">
          {{stats.delegated}}
        </div>
        <b>Competitions Delegated</b>
        <div>
          I've delegated {{stats.delegated}} competitions. I am one of only 7 Delegates in the world who have Delegated over 100 competitions.
        </div>
      </div>
    </div>
    <div class="content-text">
      <div class="title-container">
        <a class="clickable" href="https://www.worldcubeassociation.org/competitions/SoutheastChampionship2022" target="_blank">
          <h2 class="title">
            <i class="fa-solid fa-trophy"></i>
            CubingUSA Southeast Championship 2022
          </h2>
        </a>
        <div class="title-details right-align">
          <div class="date">
            Gatlinburg, TN
          </div>
          <div class="date">
            July 2022
          </div>
        </div>
      </div>
      <div>
        Every year, the Southeast Delegates organize a Regional Championship for the Southeast. 
        This year the competition was held in Gatlinburg, Tennessee. This was the biggest and greatest Southeast Competition we have ever held.
        The competition was 3 days long, had 274 Competitors, and around 800 attendees. We held all 17 official WCA events as well as 4 extra events.
        We awarded the Top-3 Podium, Southeast Champion, and 6 State Champions in each event. This competition had the most results acheived out of any non-national/contential/world championship with over 14,000 solves completed.
      </div>
      <img class="delegates-image" src="assets/delegates.jpg">
      <div class="image-text">Delegates of the Southeast Championship 2022.</div>
    </div>
  </div>
</div>
