<div class="sub-slalom-container">
  <div class="header">
    <h2 class="title">Slalom Consulting, LLC</h2>
    <div class="title-details right-align">
      <div class="date">
        Atlanta, Georgia
      </div>
      <div class="date">
        May 2018 - Present
      </div>
    </div>
  </div>
  <div class="content">
    <div>
      I'm a software engineer consultant at Slalom. As a consultant, I change clients every 8 to 12 months. 
      This allows me to continually change up the tech stack that I am working on and continue to learn new technologies and grow my skills.
    </div>
    <div>
      I've worked at 4 different clients: Saia Trucking, Delta Airlines, Cox Automotive, and Pulte Home Construction. 
      At each client, I learn their domain knowledge and application uses, contribute to a new or existing project, and then have knowledge transfer sessions with developers at the client.
    </div>
    <div>
      In addition to client work, I've been involved with Extra-Ciriculars at Slalom. 
      We host Brown Bag Sessions where we present to our peers some technology or skill to the software engineering department over lunch.
      I've also been involved with hosting a hackaton / capture the flag event, where developers come together in teams and attempt to find different vulnerabilities in a website and earn points for each way we "hack" the website.
    </div>
    <div>
      <img class="slalom-office-image" src="{{getPhoto('slalom_office')}}">
      <div class="image-text">First day back at Slalom after the pandemic!</div>
    </div>
  </div>
</div>
